body {
  background-color: #fafafa;
  margin: 0;
}

.page {
  margin: auto;
  position: relative;
  width: 600px;
}

.frame {
  border: 3px solid #212121;
  border-radius: 3px;
  box-sizing: border-box;
  position: absolute;
}
